mixin text-field({label, sublabel, inputValue, theme})
  //label="none", sublabel="none", inputValue
  //label: "none", sublabel: "none", inputValue
  .text-field
    if label != none 
      label.h3= label

    if sublabel != none
      p.sublabel= sublabel

    if theme == "hover/focus"
      .text-field__input-text-field
        input.input-text-field(type="text" value= inputValue class=["input-text-field_status_hover-focus"])
    else if theme == none || theme == "default"
      .text-field__input-text-field
        input.input-text-field(type="text" value= inputValue)
    //label.h3 text field 
    //p.sublabel Default
    //.text-field__input-text-field
    //  input.input-text-field(type="text" value= inputValue)